@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


html,
body,
:root {
  height: 100%;
}


body {
  font-family: 'Roboto Flex', sans-serif; 
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

/* Regular styles */
.hero-text {
  color: white;
  font-size: 5em;
}

.hero-text-border {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-style: italic;
  font-weight: 400;
}

/* Responsive font sizes */
@media (max-width: 640px) {
  .hero-text {
    font-size: medium;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .hero-text {
    font-size: large;
  }
}

@media (min-width: 1025px) {
  .hero-text {
    font-size: x-large;
  }
}

.text-bottom-center {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.client-image {
  max-width: 100%;
  height: auto;
}
